:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle, rgb(255, 0, 0), black);
}

canvas{
    display: block;
    width: 100%;
    z-index: -1;
    border: 1px solid white;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    font-size: clamp(2.5rem, 4vw, 5rem);
    text-align: center;
    text-shadow: rgba(105, 68, 255, 0.863) 10px 5px;
}